/* Zerando espaçamentos para poder trabalhar neles */
* {
  margin: 0;
  padding: 0;
}

/* Aplicando a fonte em todos elementos através do elemento raíz */
:root {
  font-family: "Alice", serif;
  line-height: 150%;
  color: #573A37;
}

body {
  background-image: url("/assets/fundo-pagina.jpg");
  background-size: cover;
}

#page {
  width: 800px;
  padding: 24px;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin: 48px auto;
  box-sizing: border-box;
}

section + section {
  margin-top: 24px;
}

img {
  border-radius: 16px;
}

main {
  padding: 24px;
}

#about p + p {
  margin-top: 12px;
}

h1 {
  line-height: 140%;
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h1, h2 {
  color: #291B1A;
  margin-bottom: 4px;
  line-height: 150%;
}

ul {
  padding-left: 24px;
}